

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --main-color: radial-gradient(circle, rgba(63,136,251,1) 0%, rgba(70,227,252,1) 100%);
    --secondary-color: rgb(255, 255, 255);
}

body {
    font-family: Gabriola, cursive, sans-serif;
    background: var(--main-color);
}

h1 {
    font-size: 70px;
    color: #ff4136;
    text-align: center;
    letter-spacing: 5px;
}

h2 {
    font-size: 3em;
    color: #ff4136;
    text-align: center;

}

img{
    display: block;
    margin: 0 auto;
    width: 270px;
    height: 270px;
    position: relative;
    animation: bounce 1.1s infinite;
}


p {
    font-size: 1.4em;
    text-align: center;
    margin-top: 3px;
}

a {
    display: block;
    font-size: 1.4em;
    padding: 10px 20px;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    margin: 0 auto;
    color: var(--secondary-color);
}

button:hover {
    opacity: 0.8;
    cursor: pointer;

}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-22px);
    }
}
